body, ul, h1, h2, select, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0
}

.app {
  display: flex;
  height: 100vh;
  margin: 0 auto;
}

.sidebar {
  flex: 1;
  background-color: #333;
  color: #fff;
  padding: 20px;
  min-width: 250px;
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar ul.project-links {
  list-style-type: none;
  padding: 0;
}

.sidebar ul.project-links li {
  margin-bottom: 10px;
}

.sidebar ul.project-links li a {
  text-decoration: none;
  color: #fff;
}

.main {
  flex: 3;
  background-color: #fff;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #007bff;
}

.header h1 {
  font-size: 24px;
  color: #333;
}

.header button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

#task-dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#task-form {
  display: flex;
  flex-direction: column;
}

#task-form input[type="text"],
#task-form textarea,
#task-form input[type="date"],
#task-form select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#task-form button#add-task {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.content {
  margin-top: 20px;
}

.task-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
  cursor: pointer;
  position: relative;
}

.task-item:hover {
  background-color: #f5f5f5;
}

.task-content {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.task-content input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.task-info p {
  margin: 15px 0;
}

.task-action,
.task-info {
  display: none;
}

.delete-btn {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 15px;
}

.delete-btn:hover,
.edit-btn:hover {
  opacity: 0.8;
}
